@media screen and (max-width: 1199px) {
    /* HEADER */
   .main-header {
       text-align: center;
   }

    .main-header p {
        margin: 0;
    }

    .logo {
        border: none;
        margin-top: .5em;
    }

    .nav-menu {
        float: none;
    }

    .main-nav {
        margin: .7em 0;
    }/* /HEADER */


    /* JUMBOTRON */
    .jabout {
        padding-top: 3.2em;
        padding-bottom: .6em;
        margin-top: 0;
    }/* /JUMBOTRON */


    /* SUBSCRIBE */
    .sub-1 {
        display: inline-block;
        max-width: 40%;
        text-align: center;
        margin-right: 4em;
    }
    .sub-2 {
        display: inline-block;
        max-width: 60%;
    }

    .sub-input {
        max-width: 9em;
    }/* /SUBSCRIBE */


        }



@media screen and (max-width: 991px){

    /* HEADER */
    .main-nav {
        padding: 0;
        margin: 0.8em 0;
    }

    .main-nav li {
        padding: 0 .3em;
    }/* /HEADER */

    /* JUMBOTRON */
    .jabout {
        padding-bottom: 1.7em;
    }

    .jabout-cont {
        margin: 0 .8em;
        padding: 0;
    }

    .jabout-cont img {
        position: absolute;
        left: 59%;
        top: 4.1em;
    }/* /JUMBOTRON */


    /* SUBSCRIBE */
    .subscribe {
        padding-bottom: 2.6em;
        padding-top: 2em;
    }

    .sub-1 {
        max-width: 100%;
        display: block;
        text-align: center;
        margin: auto;
    }

    .sub-2 {
        max-width: 100%;
        display: block;
        margin: auto;
    }/* /SUBSCRIBE */



    /* FEATURES */
    .features p {
        max-width: 100%;
    }/* /FEATURES */


    /* PORTFOLIO */
   .gallery-caption {
       text-align: center;
       padding: 37px 90px;
   }

   .gallery-img img {
       max-width: 100%;
   }    /* PORTFOLIO */


    /* FOOTER */

    .footer {
        padding: 4em 7em;
    }

    .footer .connect {
        margin-top: 2em;
    }

    .social {
        margin-top: 1em;
    }/* /FOOTER */


}



@media screen and (max-width: 767px){
    /* HEADER */
    body {
        padding-top: 164px;
    }
    /* /HEADER */

    /* JUMBOTRON */

    .jabout-cont {
        text-align: center;
        padding: 0 .9em 24em;
        margin: auto;
        width: 560px;
    }

    .jabout-cont img {
        position: absolute;
        left: 25%;
        top: 25em;
    }

    .jime, .jwelcome,.jtext  {
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .jabout {
        background-image: url('../img/bgrheader-xs-lg.png');
        background-size: 100%;
        padding-bottom: 0;
    }/* /JUMBOTRON */



    /* FEATURES */
    .features p {
        text-align: center;
    }/* /FEATURES */


    /* PORTFOLIO */
   /* PORTFOLIO */


    /* CAROUSEL */
    .car-cap {
        text-align: center;
        padding: 10px 5px;
    }/* /CAROUSEL */


    /* FOOTER */
    .footer {
       padding: 5em 3em;

    }
    /* /FOOTER */



}


@media screen and (max-width: 575px)

    /* JUMBOTRON */
    .jabout-cont {
        text-align: center;
        padding: 0 .9em 26em;
        margin: auto;
        max-width: 90%;
    }

    .jabout-cont img {
        left: 10%;
        top: 34em;
    }

    .jabout {
        background-image: url('../img/bgrheader-xs-lg.png');
        background-size: cover;
        padding-bottom: 0;
    }    /* JUMBOTRON */


    /* SUBSCRIBE */
    .sub-text {
        margin-bottom: .5em;
        text-align: center;
        width: 100%;
    }
    .sub-2 .sub-input {
        margin-bottom: .4em;
        width: 190px;
        max-width: 13em;
    }

    .sub-2 {
        margin: auto;
    }

    .sub-2 .sub-btn {
        width: 190px;
        padding: .5em 28%;
    }    /* /SUBSCRIBE */



    /* PORTFOLIO */
    .gallery-img img {
        margin: .2em .2em;

    }

    /* CAROUSEL */
    .car-cap h3{
        font-size: 1em;
    }

    .car-cap p {
        font-size: .9em;
        margin: 2px 0 .1em;
        text-align: center;
    }

    .car-cont {
        max-width: 45em;
        margin: auto;
        padding: 0;
    }

    /* /CAROUSEL */



}
